#fullpage.PageHelloWorldMainBlock
  %section.HWMBsection1#sec1.scrollspy

    .InCruises180countries
      %h5.flow-text круизный клуб инкруизес это международный клуб который объеденяет в себе 190 стран мира. это клуб у которого открыт доступ к более чем 5500 круизным маршрутам.это круизный клуб который признали, сотрудничают, и поддерживают Лидеры круизных линий. "и Это не просто громкие слова, это заверено, лицензированно международными ассоциациями." 
      /%h5 стиль шрифтов -  строгий как у тильды но с цветовой гаммой, градиентом . эффект волн для меню https://codepen.io/tedmcdo/pen/PqxKXg           https://stackoverflow.com/questions/44665993/waves-in-css-or-svg   https://www.youtube.com/watch?v=KyxtQ_9aSw0    https://codepen.io/zFunx/pen/wPLKGj
      /здесь картинки и цены, десяток слайдов
      /.br
      /%div.z-depth-5
      /  %h3 
      /    pos
      /    %span{:style => "color: red"} s 
      /    ibl
      /    %span{:style => "color: red"} e
      /    %span{:style => "color: red"} x

  %section.HWMBsection2#sec2.scrollspy
    .reasons
      %h5 три самых основных основыных причины существования и роста клуба:
      %h5 1 как только вы становитесь членом клуба вы получаете доступ к базе данных первоначальной цены и стоимости круизных маршрутов(минуя маржу турагенст за рекламу), а это более чем 5500+ вариантов по всему миру c лидерами круизых линий. (вы так же можете убедиться в этом произведя первичную регистрацию, чтобы увидеть работающий кабинет с данным доступом и ценами)
      %h5 2 становясь членом клуба вы сразу же получаете скидку в 50% благодаря условиями и системе членства. и эту скидку вы можете увеличить.
      %h5 3 помимо того что вы стали членом клуба вы получили доступ в самое большое сообщество круизёров, у вас есть возможность быть первыми вкурсе новостей, инноваций и фишек круизного мира, мира топ номер один видов отдыха. С этой информацией легко стать партнёром клуба, рассказывать и обмениваться впечатлениями о круизах получая заработную плату,имея право делать это, даже, на борту Лайнера.
  
      
  %section.HWMBsection3#sec3.scrollspy
    .tobeInCruises
      %h5 Почему клуб инкрузерс имеет такие возможности и такие привелегии. - причина создания клуба очень проста и очевидна - круизным линиям, лайнерам, необходима заполняемость кают, проводя рекламу и маркетинговые ходы, компаниям сложно обеспечивать постоянную заполняемость даже в сезонное время, в то время как клуб инкрузерс благодаря своей системе членства обеспечивает и гарантирует кмпаниям заполняемость кают в лайнерах. в ответ на это круизные линии предоставляют шикарные цены в любое время года.
      %h5 совет,  не слушайте что говорят другие, обновите информацию лично для себя что такое круизы, почему это вид отдыха номер 1 в Мире, отговорки "меня укачивает" не проходят - масса лайнера и его стабилизаторы позволяют выступать на борту акробатам цырка дюсолей, а так же играють в бильяд и боулинг, там катаются на коньках, а так же проходят выступления и развлечения которые малодоступны из-за визовых режимов некоторых стран.
      %h5 Что такое круиз и почему это номер один видов отдыха в Мире
      %p что такое круиз
      %p моё путешествие
      %p зарегитрироваться
      %p что такое клуб инкруизес
  


  %section.emptyBlock




.BottomNavPageHelloWorld
  .pos-bottom
    %div
      %a{:href => "#sec1"} 
    %div
      %a{:href => "#sec2"} 
    %div
      %a{:href => "#sec3"} 
    %div
      %a{:href => "#sec3"} 